BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 44c93726c508

CREATE TYPE userrole AS ENUM ('ADMIN', 'EDITOR', 'AUDITOR');

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    totp_secret VARCHAR(32), 
    is_2fa_enabled BOOLEAN NOT NULL, 
    failed_login_attempts INTEGER NOT NULL, 
    account_locked BOOLEAN NOT NULL, 
    last_login_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    event_type VARCHAR(100) NOT NULL, 
    user_id UUID, 
    module VARCHAR(100) NOT NULL, 
    description VARCHAR(255) NOT NULL, 
    timestamp TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    ip_address VARCHAR(45), 
    details JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

DROP INDEX idx_wt_workflow_from;

DROP TABLE workflow_transitions;

DROP INDEX idx_rdim_attribute;

DROP INDEX idx_rdim_report;

DROP TABLE report_dimensions;

DROP INDEX idx_pel_policy_record;

DROP INDEX idx_pel_record;

DROP TABLE policy_evaluation_log;

DROP TABLE plugin_registry;

DROP INDEX idx_at_model;

DROP INDEX idx_at_queued;

DROP INDEX idx_at_source_record;

DROP INDEX idx_at_workflow_instance;

DROP TABLE ai_tasks;

DROP INDEX idx_paction_policy;

DROP TABLE policy_actions;

DROP TABLE cbe_quorum_signatures;

DROP INDEX idx_eav_attribute_record;

DROP INDEX idx_eav_record;

DROP TABLE entity_attribute_values;

DROP INDEX idx_menu_items_nav;

DROP TABLE menu_items;

DROP INDEX idx_sel_actor;

DROP INDEX idx_sel_event_type;

DROP INDEX idx_sel_policy;

DROP INDEX idx_sel_session;

DROP INDEX idx_sel_severity;

DROP TABLE security_event_log;

DROP INDEX idx_rra_report_role;

DROP INDEX idx_rra_role;

DROP TABLE report_role_access;

DROP TABLE tenant_settings;

DROP TABLE residency_violation_log;

DROP TABLE chain_break_events;

DROP TABLE tenant_shard_config;

DROP INDEX idx_rf_report;

DROP INDEX idx_rf_user_facing;

DROP TABLE report_filters;

DROP INDEX idx_pel_exit;

DROP INDEX idx_pel_plugin;

DROP TABLE plugin_execution_log;

DROP TABLE audit_tenant_sequence;

DROP TABLE sovereign_admin_registry;

DROP INDEX idx_form_fields_section;

DROP TABLE form_fields;

DROP TABLE policy_action_map;

DROP TABLE menu_master;

DROP INDEX idx_rm_entity;

DROP INDEX idx_rm_system_templates;

DROP INDEX idx_rm_tenant_category;

DROP INDEX uq_report_code_system;

DROP TABLE report_master;

DROP INDEX idx_aql_tenant_window;

DROP TABLE api_quota_ledger;

DROP INDEX idx_form_submissions_form;

DROP INDEX idx_form_submissions_user;

DROP TABLE form_submissions;

DROP INDEX idx_wis_record;

DROP INDEX idx_wis_sla;

DROP INDEX idx_wis_workflow_state;

DROP TABLE workflow_instance_state;

DROP TABLE ai_capability_master;

DROP TABLE workflow_states;

DROP INDEX idx_ass_audit_log;

DROP INDEX idx_ass_record;

DROP TABLE audit_state_snapshot;

DROP INDEX idx_wsl_record;

DROP TABLE workflow_state_log;

DROP INDEX idx_rmeas_report;

DROP TABLE report_measures;

DROP INDEX idx_er_active;

DROP INDEX idx_er_created;

DROP INDEX idx_er_entity;

DROP TABLE entity_records;

DROP INDEX idx_eavh_record;

DROP INDEX idx_eavh_value;

DROP TABLE entity_attribute_value_history;

DROP INDEX idx_policy_entity;

DROP TABLE policy_master;

DROP TABLE tenants;

DROP INDEX idx_entity_master_type;

DROP TABLE entity_master;

DROP INDEX idx_tam_category_window;

DROP INDEX idx_tam_scope;

DROP TABLE tenant_activity_metrics;

DROP INDEX idx_ai_model_default;

DROP INDEX idx_ai_model_type;

DROP TABLE ai_model_registry;

DROP INDEX idx_cam_tenant_date;

DROP INDEX idx_cam_type;

DROP TABLE cold_archive_manifest;

DROP INDEX idx_pcond_attribute;

DROP INDEX idx_pcond_policy;

DROP TABLE policy_conditions;

DROP INDEX idx_form_entity;

DROP TABLE form_master;

DROP INDEX idx_eri_attribute_num;

DROP INDEX idx_eri_attribute_value;

DROP INDEX idx_eri_fts;

DROP INDEX idx_eri_tenant_entity;

DROP TABLE entity_record_index;

DROP INDEX idx_attribute_values_record;

DROP TABLE attribute_values;

DROP INDEX idx_ael_actor;

DROP INDEX idx_ael_event_type;

DROP INDEX idx_ael_logged_at;

DROP INDEX idx_ael_record;

DROP INDEX idx_ael_tenant_seq;

DROP TABLE audit_event_log;

DROP TABLE circuit_breaker_log;

DROP INDEX idx_er_subject;

DROP TABLE erasure_requests;

DROP TABLE ai_user_preferences;

DROP INDEX idx_attribute_master_entity;

DROP TABLE attribute_master;

DROP INDEX idx_workflow_entity;

DROP TABLE workflow_master;

DROP TABLE ai_role_access;

DROP INDEX idx_rel_actor;

DROP INDEX idx_rel_errors;

DROP INDEX idx_rel_executed;

DROP INDEX idx_rel_exports;

DROP INDEX idx_rel_report;

DROP TABLE report_execution_log;

DROP TABLE dashboard_widgets;

DROP TABLE ai_execution_log;

DROP TABLE form_submission_audit_log;

DROP TABLE workflow_transition_rules;

DROP INDEX idx_form_sections_form;

DROP TABLE form_sections;

DROP INDEX idx_lhr_subject;

DROP TABLE legal_hold_registry;

DROP INDEX idx_ss_category_key;

DROP INDEX idx_ss_scope;

DROP INDEX idx_ss_scope_ref;

DROP TABLE system_settings;

DROP TABLE tenant_audit_log;

INSERT INTO alembic_version (version_num) VALUES ('44c93726c508') RETURNING alembic_version.version_num;

COMMIT;

