BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> f3902bb17ca2

CREATE TYPE userrole AS ENUM ('ADMIN', 'EDITOR', 'AUDITOR');

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

INSERT INTO alembic_version (version_num) VALUES ('f3902bb17ca2') RETURNING alembic_version.version_num;

-- Running upgrade f3902bb17ca2 -> a11d8eca77bc

ALTER TABLE users ADD COLUMN totp_secret VARCHAR(32);

ALTER TABLE users ADD COLUMN is_2fa_enabled BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE users ADD COLUMN failed_login_attempts INTEGER DEFAULT 0 NOT NULL;

ALTER TABLE users ADD COLUMN last_login_at TIMESTAMP WITHOUT TIME ZONE;

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    user_id UUID, 
    event_type VARCHAR(100) NOT NULL, 
    resource VARCHAR(255) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    ip_address VARCHAR(45), 
    details JSON, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

UPDATE alembic_version SET version_num='a11d8eca77bc' WHERE alembic_version.version_num = 'f3902bb17ca2';

-- Running upgrade a11d8eca77bc -> cf38d4a4928d

ALTER TABLE users ADD COLUMN account_locked BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE audit_logs ADD COLUMN module VARCHAR(100) DEFAULT 'AUTH' NOT NULL;

ALTER TABLE audit_logs ADD COLUMN description VARCHAR(255) DEFAULT 'No description' NOT NULL;

ALTER TABLE audit_logs RENAME created_at TO timestamp;

ALTER TABLE audit_logs DROP COLUMN resource;

ALTER TABLE audit_logs DROP COLUMN status;

UPDATE alembic_version SET version_num='cf38d4a4928d' WHERE alembic_version.version_num = 'a11d8eca77bc';

-- Running upgrade cf38d4a4928d -> c735a8cb2b4e

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    event_type VARCHAR(100) NOT NULL, 
    user_id UUID, 
    module VARCHAR(100) DEFAULT 'AUTH' NOT NULL, 
    description VARCHAR(255) NOT NULL, 
    timestamp TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    ip_address VARCHAR(45), 
    details JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

ALTER TABLE users ADD COLUMN account_locked BOOLEAN DEFAULT false NOT NULL;

UPDATE alembic_version SET version_num='c735a8cb2b4e' WHERE alembic_version.version_num = 'cf38d4a4928d';

COMMIT;

